# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment 
venv/
env/
.env

# Database 
*.db
*.sqlite3
postgres_data/

# OS junk
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Static
static/resumes/