services:
  web:
    build: .            
    container_name: lokerin_api
    restart: always
    ports:
      - "8000:8000"     
    depends_on:
      - db              
    env_file:
      - .env           
    environment:
      DB_HOST: db        
      DB_PORT: 5432     

  db:
    image: pgvector/pgvector:pg16
    container_name: lokerin_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${DB_PORT}:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: